body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background: #f5f5f5;
}
.container {
  padding: 2rem;
}

#main {
  min-height: calc(100vh - 105px);
}

button {
  margin: 0.5rem;
}

.bg-red {
  background-color: #e43425;
}

.text-red {
  color: #e43425 !important;
}

.btn.btn-red {
  background-color: #e43425 !important;
  border-color: #e43425 !important;
  color: #fff !important;
}

.btn.btn-red:hover,
.btn.btn-red:focus,
.btn.btn-red:active {
  background-color: #c52d1f !important;
  border-color: #c52d1f !important;
  color: #fff !important;
}

.btn.btn-red:disabled,
.btn.btn-red.disabled {
  background-color: #e43425 !important;
  border-color: #e43425 !important;
  opacity: 0.65 !important;
}

.btn.btn-outline-red {
  color: #e43425 !important;
  background-color: transparent !important;
  border-color: #e43425 !important;
}

.btn.btn-outline-red:hover,
.btn.btn-outline-red:focus,
.btn.btn-outline-red:active {
  color: #fff !important;
  background-color: #e43425 !important;
  border-color: #e43425 !important;
}

.btn.btn-outline-red:disabled,
.btn.btn-outline-red.disabled {
  color: #e43425 !important;
  background-color: transparent !important;
  opacity: 0.65 !important;
}

.bg-warning-subtle {
  background-color: #fff3cd !important;
  transition: background-color 0.3s ease;
}
